# OS
.DS_Store
Thumbs.db

# IDEs
.idea
nbproject/

/packages/*
!/packages/fiz-kjrs/

# TYPO3

/public/*
!/public/robots.txt
!/public/favicon*

/var/
/vendor/

# FE Build
/Build/Default/node_modules/
bin-dev/watch.pid
bin-dev/stopFeWatch.sh

# Token
.npmrc
auth.json

# Local scripts
/scripts/

# Local files
/Archiv/
/Archive/
/Projektdateien/

# Data directories
/data/*
!/data/.gitkeep
/sql/

# DDEV

/.ddev/*
!/.ddev/config.yaml

.env
.env.*
!.env.example

.php-cs-fixer.cache
