<?xml version="1.0"?>
<ruleset name="TYPO3 CGL Project Ruleset">
    <!-- Beschreibung -->
    <description>TYPO3 CGL / PSR-12 conform code style checks for this project</description>

    <file>packages/</file>

    <!-- Standard: PSR-12 -->
    <rule ref="PSR12" />

   <!-- Add or modify specific rules -->
   <rule ref="Generic.Files.LineLength">
       <properties>
           <property name="lineLimit" value="120"/>
           <property name="absoluteLineLimit" value="150"/>
       </properties>
   </rule>

</ruleset>
